<div class="row">
    <div class="col-xs-12">
        <!-- PAGE CONTENT BEGINS -->
        <form class="form-horizontal" method="post" role="form">
            <!-- #section:elements.form -->
            

            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="form-input-readonly"> 
                    操作数据: 
                </label>
            
                <div class="col-sm-9">
                    <textarea class="col-sm-5" rows="6" name="str">{{$str}}</textarea>
                </div>
            </div>

            <div class="space-4"></div>

            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="form-input-readonly">
                    处理后数据: 
                </label>
            
                <div class="col-sm-9">
                    <textarea class="col-sm-5" rows="6" readonly="readonly">{{$code}}</textarea>
                </div>
            </div>

            <div class="space-4"></div>


            <div class="clearfix form-actions">
                <div class="col-md-offset-3 col-md-9">
                    <button class="btn btn-info" type="submit">
                        <i class="ace-icon fa fa-check bigger-110"></i>编码
                    </button>
                    &nbsp; &nbsp; &nbsp;
                    
                    <input type="submit" class='btn btn-info' name="submit_decode" value="解码">
            
                    &nbsp; &nbsp; &nbsp;
                    <input type="reset" class='btn' name="reset">
                
                </div>
            </div>

        </form>
    </div><!-- /.col -->
</div>